{% extends "core/base.html" %}
{% load static %}

{% block header_title %} {{ profile.name.split.0 }} {{ profile.name.split.2 }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/home_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="perfil">
        <img src="{{ profile.image_profile_url.url }}" alt="Foto do Aluno">
        <h2>{{ profile.name }}</h2>
        <p>Estudante de {{ profile.course }}</p>
    </div>

    <div class="secao">
        <h3>Sobre Mim</h3>
        <p> {{ profile.description }}</p>
    </div>

    <div class="secao">
        <h3>Dados Pessoais</h3>
        <ul>
            <li><strong>Nome:</strong> {{ profile.name }}</li>
            <li><strong>Curso:</strong> {{ profile.course }}</li>
            <li><strong>Período:</strong> {{ profile.period }}</li>
            <li><strong>E-mail:</strong> {{ profile.email }}</li>
            <li><strong>GitHub:</strong> {{ profile.git }}</li>
            <li><strong>LinkedIn:</strong> {{ profile.linken }}</li>
        </ul>
    </div>

    <div class="secao">
        <h3>Cursos e Certificados</h3>
        <ul>
            {% for certificate in certificates %}
                <li>{{ certificate.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}