{% extends "core/base.html" %}
{% load static %}

{% block title %}Projetos - Meu Portfólio{% endblock %}

{% block header_title %}Meus Projetos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "portfolio/css/projects_styles.css" %}">
{% endblock %}

{% block content %}
    {% for project in projects %}
        {% if project.project_type == ProjectType.SUBJECT %}
            <div class="projeto-card">
                <span class="tipo tipo-disciplina">Projeto de {{ project.project_type.title }}</span>
                <h3>{{ project.name }}</h3>
                <p>
                    {{project.description }}
                </p>
                <a href="{{ project.git }}">{{ project.git }}</a>
            </div>
        {% else %}
            <div class="projeto-card">
                <span class="tipo tipo-pessoal">Projeto {{ project.project_type.title }}</span>
               <h3>{{ project.name }}</h3>
                <p>
                    {{project.description }}
                </p>
                <a href="{{ project.git }}">{{ project.git }}</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}